button {
    background-color: purple;
    color: white;
}

.ks_button {
    width: max-content;
    padding: 1% 0;
    background-color: gold;
    color: darkblue;
    font-weight: bold;
    font-size: 1.3em;
}

.startQuiz {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.sqButton {
    grid-column: 1;
}