.addTable {
    justify-content: center;
}

.startQuiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}

.sqMain {
    width: 20%;
    margin: auto;
    background-color: orange;
    padding: 0 20px 20px 20px;
}

.ksButton {
    background-color: purple;
    color: white;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.ksButton:hover {
    background-color: blue;
}

.kanjiPractice {
    background-color: orange;
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    padding: 15px;
    gap: 8px;
    overflow: hidden;
    width: 100%;
}

.navBar button {
    background-color: purple;
    color: white;
}

.navBar button:hover {
    background-color: blue;
}

.app {
    justify-content: center;
    margin-top: 60px;
}