button {
    background-color: purple;
    color: white;
}

.ks_button {
    width: 8%;
    padding: 1% 0;
    background-color: gold;
    color: darkblue;
    font-weight: bold;
    font-size: 1.3em;
}